;
; Lab1.asm
;
; Created: 3/02/2025 08:32:52
; Author : ianfa
;

.INCLUDE "m328Pdef.inc"

.CSEG
.ORG 0x00

    ; Configurar PORTD (PD2-PD6) como entrada con pull-ups
    LDI R16, 0x00
    OUT DDRD, R16
    LDI R16, 0x7C           ; Habilitar pull-ups en PD2-PD6
    OUT PORTD, R16

    ; Configurar PORTB (PB0-PB3) como salida para A
    LDI R16, 0x0F
    OUT DDRB, R16

    ; Configurar PORTC (PC0-PC4) como salida para B, suma y carry
    LDI R16, 0x1F
    OUT DDRC, R16

    ; Inicializar registros
    CLR R17                 ; A
    CLR R18                 ; B
    CLR R19                 ; Suma
    CLR R20                 ; Carry

LOOP:
    ; Verificar botones y actualizar valores
    SBIS PIND, 2            ; PD2 presionado?
    RCALL DEBOUNCE_INC_A

    SBIS PIND, 3            ; PD3 presionado?
    RCALL DEBOUNCE_DEC_A

    SBIS PIND, 4            ; PD4 presionado?
    RCALL DEBOUNCE_INC_B

    SBIS PIND, 5            ; PD5 presionado?
    RCALL DEBOUNCE_DEC_B

    ; Mostrar A y B
    OUT PORTB, R17
    OUT PORTC, R18

    ; Verificar botón de resultado (PD6)
    SBIS PIND, 6
    RJMP CALCULAR_SUMA
    RJMP LOOP

CALCULAR_SUMA:
    ; Realizar suma y calcular carry
    CLR R19
    ADD R19, R17
    ADD R19, R18

    CLR R20
    CPI R19, 16
    BRLO NO_CARRY
    LDI R20, 0x10           ; Carry en PC4
    ANDI R19, 0x0F

NO_CARRY:
    ; Combinar suma y carry
    MOV R21, R19
    OR R21, R20
    OUT PORTC, R21

    ; Esperar liberación del botón de resultado
WAIT_RELEASE_RESULT:
    SBIC PIND, 6
    RJMP WAIT_RELEASE_RESULT
    RJMP LOOP

; Subrutinas de debounce y ajuste de valores
DEBOUNCE_INC_A:
    RCALL DELAY_20MS
    SBIS PIND, 2            ; Verificar si sigue presionado
    RET
    CPI R17, 15
    BRGE FIN_INC_A
    INC R17
FIN_INC_A:
    RCALL ACTUALIZAR_DISPLAY
    RJMP WAIT_RELEASE_INC_A

WAIT_RELEASE_INC_A:
    SBIC PIND, 2
    RET
    RJMP WAIT_RELEASE_INC_A

DEBOUNCE_DEC_A:
    RCALL DELAY_20MS
    SBIS PIND, 3
    RET
    CPI R17, 0
    BREQ FIN_DEC_A
    DEC R17
FIN_DEC_A:
    RCALL ACTUALIZAR_DISPLAY
    RJMP WAIT_RELEASE_DEC_A

WAIT_RELEASE_DEC_A:
    SBIC PIND, 3
    RET
    RJMP WAIT_RELEASE_DEC_A

DEBOUNCE_INC_B:
    RCALL DELAY_20MS
    SBIS PIND, 4
    RET
    CPI R18, 15
    BRGE FIN_INC_B
    INC R18
FIN_INC_B:
    RCALL ACTUALIZAR_DISPLAY
    RJMP WAIT_RELEASE_INC_B

WAIT_RELEASE_INC_B:
    SBIC PIND, 4
    RET
    RJMP WAIT_RELEASE_INC_B

DEBOUNCE_DEC_B:
    RCALL DELAY_20MS
    SBIS PIND, 5
    RET
    CPI R18, 0
    BREQ FIN_DEC_B
    DEC R18
FIN_DEC_B:
    RCALL ACTUALIZAR_DISPLAY
    RJMP WAIT_RELEASE_DEC_B

WAIT_RELEASE_DEC_B:
    SBIC PIND, 5
    RET
    RJMP WAIT_RELEASE_DEC_B

ACTUALIZAR_DISPLAY:
    OUT PORTB, R17
    OUT PORTC, R18
    RET

DELAY_20MS:
    LDI R24, 255
    LDI R25, 255
DELAY_LOOP:
    SBIW R25:R24, 1
    BRNE DELAY_LOOP
    RET
